/*header*/
.header{
	height: 80px;
	overflow: hidden;
	background-color: #1E191A;
}

.header__container{
	position: relative;
	width: 1300px;
	height: 80px;
	margin: 0 auto;
}

.header__logo{
	position: absolute;
	top: 50%;
	height: 46px;
	margin-top: -23px;
	padding: 0 0 0 60px;
	font-size: 35px;
	line-height: 46px;
	color: #FDE200;
	background: url(../img/logo.png) no-repeat left center;
}

.header__nav{
	position: absolute;
	top: 50%;
	right: 0;
	height: 80px;
	margin-top: -40px;
	line-height: 80px;
	font-size: 14px;
}

.header__nav_item{
	position: relative;
	float: left;
	display:block;
	width: 100px;
	height: 80px;
	text-align:center;
	color: #FDE200;
}

.header__nav_item:hover{
	color: #1E191A;
	background-color: #FDE200;
	transition: all .5s;
}

.header__nav_item-active{
	color: #1E191A;
	background-color: #FDE200;
}


/*banner*/
.banner{
	height: 600px;
	overflow: hidden;
	background: url(../img/banner-3.jpg) no-repeat center center;
	background-size: cover;
}

.banner__container{
	position: relative;
	width: 1300px;
	height: 600px;
	margin: 0 auto;
	overflow: hidden;
}

.banner__item_1,
.banner__item_2,
.banner__item_3,
.banner__item_4{
	position: relative;
	display: none;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position:top  center;
	background-size: cover;
}

.banner__item_1{
	background-image: url(../img/banner-1.jpg);
}

.banner__item_2{
	background-image: url(../img/banner-2.jpg);
}

.banner__item_3{
	background-image: url(../img/banner-3.jpg);
}

.banner__item_4{
	background-image: url(../img/banner-4.jpg);
}

.banner__item_slice{
	display: block;
}

.banner__item-content{
	position: absolute;
	width: 100%;
	bottom: -50px;
	left: 0;
	padding: 10px;
	background-color: rgba(0,0,0,.5);
}

.banner__item-content:hover{
	bottom: 0px;
	transition: all .5s;
}

.banner__item-content>h1{
	font-size: 25px;
	line-height: 30px;
	color: #FDE200;
}

.banner__item-content>p{
	font-size: 15px;
	line-height: 20px;
	color: #fff;
}

.banner__button{
	position: absolute;
	width: 1300px;
	height: 70px;
	top: 50%;
	margin-top: -35px;
}

.banner__button-left{
	float: left;
	display: block;
	font-size: 30px;
	height: 70px;
	line-height: 70px;
	padding: 0 10px;
	color: #FDE200;
	background-color: rgba(0,0,0,.5);
	cursor: pointer;
}

.banner__button-right{
	float: right;
	display: block;
	font-size: 30px;
	height: 70px;
	line-height: 70px;
	padding: 0 10px;
	color: #FDE200;
	background-color: rgba(0,0,0,.5);
	cursor: pointer;
}

.database{
	height: 800px;
	overflow: hidden;
	background-color: #1E191A;
}

.database-h2{
	margin-top: 120px;
	font-size: 40px;
	line-height: 45px;
	text-align: center;
	color: #FDE200;
}

.database-h3{
	margin-top:30px;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	color: #fff;
}

.database__picture{
	margin-top: 100px;
	height: 500px;
	overflow: hidden;
	background-color: #FDE200;
}

/*实现翻牌效果*/
.database__picture_rows-1,.database__picture_rows-2{
	width:1300px;
	height: 200px;
	padding: 25px;
	overflow: hidden;
	margin: 0 auto;
}

.database__picture_rows{
	position: relative;
	float: left;
	width: 240px;
	height:200px ;
	margin: 30px 42px;
 /*舞台（动画元素的父容器）perspective*/
     -webkit-perspective: 1300px;
     -moz-perspective: 1300px;
}

.database__picture_item_1-1,
.database__picture_item_1-2,
.database__picture_item_1-3,
.database__picture_item_1-4,
.database__picture_item_2-1,
.database__picture_item_2-2,
.database__picture_item_2-3,
.database__picture_item_2-4
{
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	padding:110px 25px 25px 25px;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
	background-repeat: no-repeat;
	background-position: top center;
	/*设置动画元素*/
	transform-style: preserve-3d;
	 transition: .8s ease-in-out ;
	 /*隐藏背后元素*/
	backface-visibility: hidden;
}
/*绕Y轴旋转0*/
.database__picture_item_1-1,
.database__picture_item_1-2,
.database__picture_item_1-3,
.database__picture_item_1-4,
.database__picture_item_2-1,
.database__picture_item_2-2,
.database__picture_item_2-3,
.database__picture_item_2-4{
	transform: rotateY(0deg);
	z-index: 2;
}

.database__picture_item_-1-1,
.database__picture_item_-1-2,
.database__picture_item_-1-3,
.database__picture_item_-1-4,
.database__picture_item_-2-1,
.database__picture_item_-2-2,
.database__picture_item_-2-3,
.database__picture_item_-2-4
{
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	padding:5px;
	font-size: 20px;
	line-height: 25px;
	text-align: center;
		/*设置动画元素*/
	transform-style: preserve-3d;
	 transition: .8s ease-in-out ;
	 /*隐藏背后元素*/
	backface-visibility: hidden;
}
/*绕Y轴旋转180*/
.database__picture_item_-1-1,
.database__picture_item_-1-2,
.database__picture_item_-1-3,
.database__picture_item_-1-4,
.database__picture_item_-2-1,
.database__picture_item_-2-2,
.database__picture_item_-2-3,
.database__picture_item_-2-4{
	background-color: rgba(30,25,26,.1);
	transform: rotateY(180deg);
	z-index: 1;
}



.database__picture_rows:hover  .database__picture_item_1-1,
.database__picture_rows:hover  .database__picture_item_1-2,
.database__picture_rows:hover  .database__picture_item_1-3,
.database__picture_rows:hover  .database__picture_item_1-4,
.database__picture_rows:hover  .database__picture_item_2-1,
.database__picture_rows:hover  .database__picture_item_2-2,
.database__picture_rows:hover  .database__picture_item_2-3,
.database__picture_rows:hover  .database__picture_item_2-4{
	transform: rotateY(-180deg);
}


.database__picture_rows:hover  .database__picture_item_-1-1,
.database__picture_rows:hover  .database__picture_item_-1-2,
.database__picture_rows:hover  .database__picture_item_-1-3,
.database__picture_rows:hover  .database__picture_item_-1-4,
.database__picture_rows:hover  .database__picture_item_-2-1,
.database__picture_rows:hover  .database__picture_item_-2-2,
.database__picture_rows:hover  .database__picture_item_-2-3,
.database__picture_rows:hover  .database__picture_item_-2-4{
	transform: rotateY(0deg);
}

.database__picture_item_1-1{
	background-image: url(../img/足球.png);
}

.database__picture_item_1-2{
	background-image: url(../img/球员.png);
}

.database__picture_item_1-3{
	background-image: url(../img/表单.png);
}

.database__picture_item_1-4{
	background-image: url(../img/排行.png);
}

.database__picture_item_2-1{
	background-image: url(../img/奖杯.png);
}

.database__picture_item_2-2{
	background-image: url(../img/球场.png);
}

.database__picture_item_2-3{
	background-image: url(../img/经理.png);
}

.database__picture_item_2-4{
	background-image: url(../img/赛程.png);
}

.database__picture_item_-1-1  p,
.database__picture_item_-1-2  p,
.database__picture_item_-1-3  p,
.database__picture_item_-1-4  p,
.database__picture_item_-2-1  p,
.database__picture_item_-2-2  p,
.database__picture_item_-2-3  p,
.database__picture_item_-2-4  p{
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color:#FFFFFF;
}


.player{
	height: 800px;
	overflow: hidden;
	background-color: #1E191A;
}

.player-h2{
	margin-top: 120px;
	font-size: 40px;
	line-height: 45px;
	text-align: center;
	color: #FDE200;
}

.player-h3{
	margin-top:30px;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	color: #fff;
}


.player__picture{
	margin-top: 100px;
	height: 500px;
	overflow: hidden;
	background-color: #FDE200;
}

.player__picture_rows{
	position: relative;
	width:1300px;
	height: 500px;
	overflow: hidden;
	margin: 0 auto;
}

.player__picture_1{
	float: left;
	position: absolute;
	top: 50%;
	left: 5%;
	width: 200px;
	height: 300px;
	margin-top: -150px;
}

.player__picture_2{
	float: left;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	height: 300px;
	margin-top: -150px;
	margin-left: -100px;
}

.player__picture_3{
	float: left;
	position: absolute;
	top: 50%;
	right: 5%;
	width: 200px;
	height: 300px;
	margin-top: -150px;

}

img{
	width: 200px;
	height: 200px;
}

figcaption{
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	color: #1E191A;
	font-weight: 600;
}

b{
	font-size: 14px;
	line-height: 25px;
	color: crimson;
	font-style: normal;
}

.player__picture_2>b,
.player__picture_3>b{
	font-size: 14px;
	line-height: 25px;
	color: crimson;
	font-style: normal;
	margin-left: 20px;
}

.soccer{
	height: 800px;
	overflow: hidden;
	background-color: #1E191A;
}

.soccer-h2{
	margin-top: 120px;
	font-size: 40px;
	line-height: 45px;
	text-align: center;
	color: #FDE200;
}

.soccer-h3{
	margin-top:30px;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	color: #fff;
}

.soccer__picture{
	margin-top: 100px;
	height: 500px;
	overflow: hidden;
	background-color: #FDE200;
}


.soccer__picture_rows-1,.soccer__picture_rows-2,.soccer__picture_rows-3{
	width:1300px;
	height: 180px;
	overflow: hidden;
	margin: 0 auto;
}

.soccer__picture_item_1-1,
.soccer__picture_item_1-2,
.soccer__picture_item_1-3,
.soccer__picture_item_2-1,
.soccer__picture_item_2-2,
.soccer__picture_item_2-3,
.soccer__picture_item_3-1,
.soccer__picture_item_3-2,
.soccer__picture_item_3-3{
	float: left;
	width: 400px;
	height: 160px;
	padding: 10px;
	background-repeat: no-repeat;
	background-position:0 0;
	background-size: cover;
	cursor:pointer;
}

.soccer__picture_item_1-1{
	background-image: url(../img/1.jpg);
}

.soccer__picture_item_1-2{
	background-image: url(../img/2.jpg);
}

.soccer__picture_item_1-3{
	background-image: url(../img/3.jpg);
}

.soccer__picture_item_2-1{
	background-image: url(../img/4.jpg);
}

.soccer__picture_item_2-2{
	background-image: url(../img/5.jpg);
}

.soccer__picture_item_2-3{
	background-image: url(../img/6.jpg);
}

.soccer__picture_item_3-1{
	background-image: url(../img/7.jpg);
}

.soccer__picture_item_3-2{
	background-image: url(../img/8.jpg);
}

.soccer__picture_item_3-3{
	background-image: url(../img/9.jpg);
}

.message{
	height: 600px;
	overflow: hidden;
	background-color: #1E191A;
}

.message-h2{
	width: 120px;
	margin:100px auto;
	font-size: 30px;
	line-height: 40px;
	color: #FDE200;
	border-bottom: 2px solid #FDE200;
}

.message-input{
	width:1300px;
	height: 650px;
	overflow: hidden;
	margin: 0 auto;
}

.message__form_name,.message__form_email{
	width: 1200px;
	height: 30px;
	padding: 5px;
	color: #FFFFFF;
	background-color: #1E191A;
	border-color: #FDE200;
	margin:10px 50px;
}

.message__form_textarea{
	width: 1200px;
	height: 100px;
	padding: 5px;
	color: #FFFFFF;
	background-color: #1E191A;
	border-color: #FDE200;
	margin:10px 50px;
	resize: none;
}

.message__form_name:hover,
.message__form_email:hover,
.message__form_textarea:hover{
	border-color: red;
}

.message__form_button{
	float: right;
	width: 200px;
	height: 50px;
	color: #FDE200;
	background-color:#1E191A;
	border-color: #FDE200;
	margin:10px 37px;
}

.message__form_button:hover{
	color: red;
	border-color: red;
}

.footer{
	position: relative;
	height: 150px;
	overflow: hidden;
	background-color:#FDE200;
}

.footer__container{
	position: absolute;
	width: 1300px;
	height: 100px;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -650px;
	overflow: hidden;
}

.footer__container>p{
	text-align: center;
	font-size: 14px;
	line-height: 25px;
	color: #1E191A;
}


.header-active{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 80px;
	background-color: #1E191A;
	z-index: 5;
}










